[submodule "bundle/rubocop"]
	path = bundle/rubocop
	url = git@github.com:ngmy/vim-rubocop.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim-polyglot"]
	path = bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
